# Xcode
.DS_Store
build/
DerivedData/
*.xcuserstate
*.xcuserdatad
*.xcscmblueprint
xcuserdata/
*.moved-aside
*.ipa
*.dSYM.zip
*.dSYM

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output
